@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

.music-player {
  --primary-color: #ddd;
  --secondary-color: #999;
  --green-color: #2d5;
  --padding: 1em;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7rem;
  padding: var(--padding);
  color: var(--primary-color);
}

audio{
  display: none;
}

i{
  color: var(--secondary-color);
  cursor: pointer;
}

i:hover{
  color: var(--primary-color);
}

.song-bar {
  position: absolute;
  left: var(--padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}

.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-description p {
  margin: 0.2em;
}

.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title:hover,
.artist:hover {
  text-decoration: underline;
}

.artist{
  color: var(--secondary-color);
}

.progress-controller{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  color: var(--secondary-color);
}

.control-buttons{
  display: flex;
  align-items: center;
  gap: 2em;
}

.play-pause{
  display: inline-block;
  padding: 1em;
  color: #111;
  border-radius: 50%;
}

.play-pause:hover{
  transform: scale(1.1);
  color: #111;
}

#btn-play{
  background-color: var(--green-color);
}

#btn-pause{
  background-color: var(--primary-color);
}

.progress-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.progress-bar{
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4;
}

.progress{
  position: relative;
  height: 100%;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.progress-bar:hover .progress{
  background-color: var(--green-color);
}

.progress-bar:hover .progress::after{
  content: "";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}

.volume-bar{
  display: flex;
  align-items: center;
  gap: .7em;
}

.volume-bar .progress-bar{
  width: 6em;
}

.volume-bar .progress-bar:hover .progress::after{
  --size: .8em;
}

#volume-off{
  color: #bf270c;
}

#volume-off:hover{
  color: #f33310;
}

#close{
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}
