<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark shadow">
  <div class="container">
    <img src="assets/img/banner-ico.png" witdh="30" height="30" alt="Logo_SpotiApp" />
    <a class="navbar-brand ms-2" href="#">SpotiApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['search']" routerLinkActive="active">Buscar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
